.item-details-container {
    .mr-10 {
        margin-right: 10px;
    }
    a {
        text-decoration: underline;
    }
    .item-box-container {
        margin-top: 50px;
        display: flex;
        height: 500px;
        flex-wrap: wrap;
        row-gap: 20px;
        column-gap: 20px;
    }
    .item-box {
        width: 400px;
        border: 1px solid #eee;
        padding: 10px;
    }
    img {
        width: 200px;
        height: 200px;
    }
    .tag {
        margin-right: 10px;
    }
    .label {
        color: #0071dc;
    }
    .mb-10 {
        margin-bottom: 10px;
    }
}